<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to homepage</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo culpa quos molestias recusandae! Cum nemo totam expedita aperiam enim velit beatae cupiditate laboriosam dignissimos minima, quisquam impedit illum, omnis officiis deserunt asperiores fuga praesentium ipsa tempora eligendi accusantium dolorem! Voluptatibus unde pariatur hic nobis quia! Voluptatem quo molestiae deleniti sit?</p>
    </div>
</body>
</html>